[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
